body{font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
h1{padding-bottom: 3rem;padding-top: 3rem;font-size: 2.5rem;color: white;border-radius: 3cm;
    border:6px solid rgba(0, 0, 0, 0.151);background-color: rgba(0, 0, 0, 0.288);}
h3,p{
    line-height: 2.5rem;
} 
.separatori >div{border-bottom: 3px dashed rgba(0, 0, 0, 0.651);border-left: 3px solid rgba(0, 0, 0, 0.651);background-color: rgba(255, 255, 255, 0.384);}
